<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>此应用需要访问您的照片库来智能归类和管理您的照片。</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>此应用需要保存照片到您的照片库中。</string>
</dict>
</plist>
